@import "../../../styles/variables";
@import "../../../styles/mixiins/paragraph";

.btnContainier {
	margin: 40px 0;

	button {
		@include paragraph(40px, #ffffff, 0);
		box-shadow: none;
		background: transparent;
		border: 4px solid $cyan;
		border-radius: 30px;
		padding: 14px 10px;
		width: 100%;

		span {
			margin-left: 10px;
		}

		&:hover {
			cursor: pointer;
			background: rgba($color: $cyan, $alpha: 1);
			transition: all 0.2s ease;
		}

		&:focus {
			outline: none;
		}
	}
}